spring:
  application:
    name: aston-workshop-web

  datasource:
    url: jdbc:postgresql://localhost:54320/user_db
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        format_sql: false
        jdbc:
          time_zone: UTC

server:
  port: 8080

logging:
  level:
    org.hibernate.SQL: warn
    org.hibernate.type.descriptor.sql: warn

springdoc:
  swagger-ui:
    enabled: true
  api-docs:
    enabled: true
