version: "3.1"

services:
  postgres:
    image: postgres:13.3
    container_name: user_pg
    environment:
      POSTGRES_DB: user_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "54320:54320"
    volumes:
      - ../pgdata:/var/lib/postgresql/data

