server:
  port: 8081

spring:
  application:
    name: user-service

  datasource:
    url: jdbc:postgresql://postgres:5432/user_db
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        format_sql: false
        jdbc:
          time_zone: UTC

  kafka:
    bootstrap-servers: kafka:9092
    producer:
      acks: all
      retries: 3
      linger-ms: 5
      properties:
        delivery.timeout.ms: 120000

kafka:
  topics:
    user-events: user-events

logging:
  level:
    org.hibernate.SQL: warn
    org.hibernate.type.descriptor.sql: warn

springdoc:
  swagger-ui:
    enabled: true
  api-docs:
    enabled: true


